<div class="container-fluid main-wrapper">
    <div class="row">
        <h1 class="page-title">2020 Power Plants Generation Data (USA)</h1>
    </div>
    <div class="header-wrapper">
        <app-header (onSubmitValues)="onHeaderSubmitValues($event)"></app-header>
    </div>

  <div class="d-flex flex-column flex-lg-row justify-content-between mx-3 plant-details-wrapper">
    <div *ngIf="plants" class="col-12 col-lg-7">
        <app-interactivemap [isFiltered]="isFiltered" [hasState]="hasState" [selectedState]="selectedState" [hasCategory]="hasCategory" [topN]="topN" [plants]="plants" (onPlantMarkerClick)="showPlantDetails($event)"></app-interactivemap>
        <div>
            <app-topranking [plants]="plants" [isShowTopRanking]="isShowTopRanking"></app-topranking>
        </div>
    </div>
    <div class="container-wrapper map-details col-12 col-lg-5">
        <app-mapdetails></app-mapdetails>
        <app-net-generation-details [plantId]="plantId"></app-net-generation-details>
        <app-percentage-details [plantId]="plantId"></app-percentage-details>
    </div>
  
  </div>
  <div class="row">
     <app-featured-plants></app-featured-plants>
  </div>

</div>

<ng-template #hideBlock>
    <div class="">
    </div>
</ng-template>