.page-title{
    font-size: 1.75rem;
    line-height: 1.25;
    color: #4D4A5C;
    text-align: center;
    font-weight: 600;
    margin:1rem 0;
}


.main-wrapper{
    background-color: #e5f6ef;
    border-radius: 15px;
    max-width: 95vw;
    padding-bottom: 3rem;
    margin-bottom:5rem;
    margin-top:2rem;
    box-shadow: 2px 2px 20px 10px #00000030;
}

.plant-details-wrapper{
    margin-top:1em;
}


.container-wrapper{
    height: 100%;
    margin-top:2em;
    padding: 0;
}

@media(min-width:992px){
    .container-wrapper{
        padding-left: 2em;
        margin-top:1em;
    } 

    .page-title{
        font-size: 1.75rem;
        line-height: 1.25;
    }
}
