.featured-main-wrapper{
    margin-top:2em;
}

.featured-card{
    background: rgb(37,205,93);
    background: linear-gradient(342deg, rgba(37,205,93,1) 0%, rgba(36,170,101,1) 100%);
    box-shadow: 0 0 10px 5px #00000030;
    border-radius: 15px;
    margin:1rem auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.featured-card:hover{
    background: rgb(68,225,31);
    background: linear-gradient(31deg, rgb(70, 174, 46) 0%, rgba(49,197,73,1) 100%);
    opacity: 1;
    transform: scale(1.05);
}

.featured-card span{
    color: #ffffff;
    font-size: 1em;
}

.featured-card-container{
    justify-content: space-between;
    flex-direction: column;
}

.featured-card-content{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    font-size: 0.85em;
}

.featured-card-content span{
    text-align: left;
}


.featured-card .title{
    font-weight: 600;
    font-size: 1.15em;
    margin-bottom:0.5em;
    text-align: center;
}

.icon-wrapper{
    width: 4rem;
    height: auto;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.icon-wrapper img{
    transform: scale(0.85);
}


@media(min-width:992px){
    .featured-main-wrapper{
        margin-top: 5em;
        margin-bottom: 2rem;
    }
    .featured-card-container{
        flex-direction: row;
    }
    .featured-card{
        width: 80%;
    }
}

