.top-generation-details-wrapper{
    max-height: 33rem;
    overflow: auto;
    padding:1rem 2rem;
}
.generation-title{
    margin:1.25rem 0;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #e5f6ef; 
}