#us-map {
    height: 70vh;
    width: 100%;
}

.map-wrapper{
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    padding: 0.5rem;
    box-shadow: 0 0 10px 5px #00000020;
}

.ol-popup {
    position: absolute;
    background: #E5F6EF;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #E5F6EF;
    bottom: 12px;
    left: -50px;
    min-width: 20rem;
    font-weight: 600;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
    color: red;
  }

  

 .map {
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-between;
}

.content-area {
  height: 100%;
 }

 .demo-area {
height: 100vh;
 }
 .video-area {
   height: 100%;
 }
 iframe {
  height: 100vh;
  overflow:hidden;
}